<h1>동향 분석 서비스 메인 화면 테스트</h1>


<form method="post">
<hr>
    {% csrf_token %}
    <div>
        <p>- 키워드 입력</p>
        <input type="text" name="keyword_input">
    </div>
    <div>
        <p>- 시작 날짜</p>
        <input type="date" value="null" name = "start" min="2000-01-01" max="2022-06-22">
        <!--<p><input type="submit" value="선택"></p>-->
    </div>
    <div>
        <p>- 마지막 날짜</p>
        <p><input type="date" name = "end" value="null" min="2000-01-01" max="2022-06-22"></p>
    </div>
    <input type="submit" value="검색">
<hr>
    
</form>

{% if keyword_list %}
    {% for el in keyword_list %}
    <h6>
        {{ el.text }}
        <hr>
    </h6>
    {% endfor %}
{% endif %}

